#Home {
    position: static;
    background: var(--bg-color);
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    z-index: 3;

    // disable the default padding styles
    .app__wrapper {
        padding: 0;
    }

    .app__social {
        display: none;
    }
}

.app__header {
    flex: 1;
    width: 100%;
    height: 100%;
    flex-direction: row;
    z-index: 1;
    transition: all 1s ease-in-out;

    @media screen and (min-width: 2000px) {
        padding-top: 10rem;
    }

    @media screen and (max-width: 1180px) {
        padding: 6rem 2rem 2rem;
        // margin-bottom: -20rem;
    }
}

.app__header-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-bottom: 5rem;
    z-index: 3;
    opacity: 0;

    h2 {
        color: var(--primary-color);
        text-align: center;
    }
    h1 {
        text-align: center;
        transition: all 0.5s ease-in-out;
        &:hover {
            background-position: right;
            text-shadow: 0 0 100px #54c8fa;
        }

        @media screen and (max-width: 580px) {
            h1 {
                font-size: 10rem;
            }
        }
    }

    p {
        color: var(--primary-color);
        text-align: center;
    }

    
}

.buttons {
    display: flex;
    gap: 25px;
    align-items: center;
    justify-content: center;

    .button-exp {
        z-index: 3;
        padding: 1.25rem 2.25rem;
        border-radius: 60px;
        border: 0.1rem solid rgba(208, 214, 224, 0.4);
        background-size: 300%;

        outline: none;
        margin: 2.25rem 0 0 0;
        background-color: transparent;

        transition: all 0.75s ease-in-out;
        &:hover {
            cursor: pointer;
            box-shadow: 0 0 50px 15px rgba(149, 68, 230, 0.35);
        }

        @media screen and (min-width: 2561px) {
            padding: 2rem 3.5rem;
        }
    
        @media screen and (max-width: 2560px) {
            padding: 1.75rem 3rem;
        }

        @media screen and (max-width: 1080px) {
            padding: 1.25rem 2.25rem;
        }

        @media screen and (max-width: 580px) {
            padding: 1rem 2rem;
        }
    
    }

    .button-con {
        z-index: 3;
        padding: 1.25rem 2.25rem;
        border-radius: 60px;
        border: 0.1rem solid rgba(208, 214, 224, 0.4);
        background-size: 300%;
        outline: none;
        margin: 2.25rem 0 0 0;
        background-color: transparent;

        transition: all 0.75s ease-in-out;
        &:hover {
            cursor: pointer;
            box-shadow: 0 0 50px 5px rgba(208, 214, 224, 0.35);
        }

        @media screen and (min-width: 2561px) {
            padding: 2rem 3.5rem;
        }
    
        @media screen and (max-width: 2560px) {
            padding: 1.75rem 3rem;
        }

        @media screen and (max-width: 1080px) {
            padding: 1.25rem 2.25rem;
        }

        @media screen and (max-width: 580px) {
            padding: 1rem 2rem;
        }
    }

}
