#Projects {
    background-color: var(--bg-color);
}

.header {
    flex: 0.75
}

.app__works {
    display: flex;
    flex: 1;
    width: 100%;
    height: 100%;
    flex-direction: column;
    z-index: 1;
    align-items: center;
    justify-content: center;
    margin: 3rem;
    

    h2 {
        align-items: center;
        justify-content: center;
        letter-spacing: 8px;
        transition: all 0.5s ease-in-out;
        &:hover {
            background-position: right;
            text-shadow: 0 0 30px #d0d6e0;
        }
    }
}

.app__work-filter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 3rem 0;

    
    .app__work-filter-item {
        padding: 1rem 1.5rem;
        border-radius: 60px;

        font-weight: 800;
        cursor: pointer;
        transition: all 0.4s ease;
        margin: 0.5rem;
        font-size: 1rem;

        border: 0.1rem solid rgba(208, 214, 224, 0.35);

        &:hover {
            box-shadow: 0 0 50px 15px rgba(208, 214, 224, 0.35);
        }

        @media screen and (min-width: 2561px) {
            padding: 1.5rem 2.5rem;
        }
    
        @media screen and (max-width: 2560px) {
            padding: 1.25rem 2.25rem;
            font-size: 0.9rem;
        }

        @media screen and (max-width: 1080px) {
            padding: 1.25rem 2.25rem;
            font-size: 0.85rem;
        }

        @media screen and (max-width: 580px) {
            padding: 0.85rem 1.5rem;
            font-size: 0.7rem;
        }
    }

    .item-active {
        font-size: 1.15rem;
        color: var(--whiteColor);
        background-image: var(--button-gradient-sec);
        background-size: 300%;

        @media screen and (min-width: 2561px) {
            padding: 1.5rem 2.5rem;
        }
    
        @media screen and (max-width: 2560px) {
            padding: 1.25rem 2.5rem;
        }

        @media screen and (max-width: 1080px) {
            padding: 1.25rem 2.25rem;
            font-size: 1rem;
        }

        @media screen and (max-width: 580px) {
            padding: 0.85rem 2rem;
            font-size: 0.85rem;
        }
    }
}

.app__work-portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: var(--primary-color);
    border: 0.1rem solid rgba(208, 214, 224, 0.1);

    .app__work-item {
        width: 300px;
        flex-direction: column;
        color: var(--primary-color);
        border: 0.1rem solid rgba(36, 238, 10, 0.05);
        transition: all 0.4s ease;
        
        &:hover {
            border: 0.1rem solid rgba(208, 214, 224, 0.35);
            box-shadow: 0 0 50px rgba(208, 214, 224, 0.35);
        }

        @media screen and (min-width: 2561px) {
            width: calc(30% - 2rem);
            padding: 2rem;
            border-radius: 0.75rem;
        }
    
        @media screen and (max-width: 2560px) {
            width: calc(33% - 2rem);
            padding: 2rem;
        }
    
        @media screen and (max-width: 1080px) {
            width: calc(50% - 0rem);
            padding: 2rem;
        }

    }
}

.app__work-img {
    
    width: 100%;
    height: 230px;

    position: relative;

    img {
        width: 100%;
        height: 100%;
        border-radius: 0.5rem;
        object-fit: cover;
    }

    @media screen and (min-width: 2000px) {
        height: 460px;
    }
}

.app__work-hover {
    
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);

    border-radius: 0.5rem;
    opacity: 0;
    transition: all 0.2s ease;

    div {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.55);
        color: #fff;

        margin: 1rem;
        font-family: var(--font-base);
        font-weight: 800;
        cursor: pointer;
        transition: all 0.2s ease;

        svg {
            width: 50%;
            height: 50%;
            color: var(--whiteColor);
        }
    }
}

.app__work-content {
    padding: 1.5rem 0;
    width: 100%;
    position: relative;
    flex-direction: column;

    h4 {
        align-items: center;
        justify-content: center;
        text-align: center;
        color: var(--whiteColor);
        margin-top: 1rem;
        line-height: 1.5;
    }
    p {
        align-items: center;
        justify-content: center;
        text-align: center;
        color: var(--primary-color);
        font-weight: 500;
        letter-spacing: 0.1px;

        @media screen and (min-width: 2561px) {
            font-size: 1.5rem;
        }
    
        @media screen and (max-width: 2560px) {
            font-size: 1.25rem;
        }
    
        @media screen and (max-width: 1080px) {
            font-size: 1rem;
        }
    
        @media screen and (max-width: 580px) {
            font-size: 0.75rem;
        }

    }

    .app__work-tag {
        position: absolute;
        padding: 0.5rem 1rem;
        border-radius: 60px;
        background-color: var(--bg-color);
        top: -45px;

        p {
            font-weight: 500;
            @media screen and (min-width: 2561px) {
                font-size: 1.25rem;
            }
        
            @media screen and (max-width: 2560px) {
                font-size: 1rem;
            }
        
            @media screen and (max-width: 1080px) {
                font-size: 0.9rem;
            }
        
            @media screen and (max-width: 580px) {
                font-size: 0.75rem;
            }
        }
        
    }
    transition: all 0.5s ease-in-out;
}
